.map-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fffbeb;

  .side-bar {
    width: 25%;
    height: calc(100% - 40px);
    margin: 20px;
    h1 {
      text-align: left;
      color: #251749;
    }
    p {
      text-align: justify;
    }
    .view-farm-groups {
      height: 200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      button {
        width: 160px;
      }
    }
    //Form styles for adding csv
    .addFarms {
      background-color: #495579;
      border-radius: 8px;
      color: white;
      form {
        margin: 10px;
        #emailHelp {
          color: #fffbeb;
        }
      }
    }
    // Farm details styles
    .farm-details {
      h3 {
        color: #495579;
      }
      p {
        span {
          font-weight: bolder;
        }
      }
    }
  }
  // Map Desing styles
  .map-frame {
    height: 100%;
    width: 70%;
    padding: 30px;

    #map {
      height: 100%;
      border: 2px solid #dee2e6;
    }
  }
}
